@using Project_Admin_Prac.Models;
@Model dynamic;
@{
    ViewBag.Title = "Filter";
}

<h2>Service List</h2>

@using (Html.BeginForm())
{
    <text>Location</text>@Html.DropDownList("location", new SelectList(ViewBag.Locationservice))
    <input type="submit" value="Search" />
}

<table class="table">
    <tr>
        <th>
            OrderId
        </th>
        <th>
            User
            Email
        </th>
        <th>
            Room
            Count
        </th>
        <th>
            Address
        </th>
        <th>
            Location
        </th>
        <th>
            TimeSlot
        </th>
        <th>
            Contact
            Number
        </th>
        <th>
            Date
        </th>
        <th>
            Allocated
            by Admin
        </th>
        <th>
            Confirmed
            by Cleaner
        </th>
        <th>
            Service Status
        </th>
        <th>
            Cleaner_Id
        </th>
        <th>
            Payment
        </th>
    </tr>

    @foreach (Service item in Model.Services)
    {
<tr>
    <td>@Html.DisplayFor(modelItem => item.OrderId) </td>
    <td>@Html.DisplayFor(modelItem => item.UserEmail) </td>
    <td>@Html.DisplayFor(modelItem => item.RoomCount) </td>
    <td>@Html.DisplayFor(modelItem => item.Address) </td>
    <td>@Html.DisplayFor(modelItem => item.Location) </td>
    <td>@Html.DisplayFor(modelItem => item.TimeSlot) </td>
    <td>@Html.DisplayFor(modelItem => item.ContactNumber) </td>
    <td>@Html.DisplayFor(modelItem => item.Date) </td>
    <td>@Html.DisplayFor(modelItem => item.Status_Admin) </td>
    <td>@Html.DisplayFor(modelItem => item.Status_Cleaner) </td>
    <td>@Html.DisplayFor(modelItem => item.Service_Status) </td>
    <td>@Html.DisplayFor(modelItem => item.Cleaner_Id) </td>
    <td>@Html.DisplayFor(modelItem => item.Payment) </td>
    <td>
        @Html.ActionLink("Edit", "EditServiceBooking", new { Orderid = item.OrderId })
    </td>
</tr>
    }
</table>

<h2>Cleaner List</h2>
@using (Html.BeginForm())
{
    <text>Location</text>@Html.DropDownList("location", new SelectList(ViewBag.Locationcleaner))
    <input type="submit" value="Search" />
}

<table class="table">
    <tr>
        <th>
            CleanerId
        </th>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            Gender
        </th>
        <th>
            ContactNumber
        </th>
        <th>
            Location
        </th>
        <th>
            CleanerAssigned
        </th>
    </tr>

    @foreach (Cleaner item in Model.Cleanerz)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CleanerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CleanerAssigned)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCleanerlist", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<div class="form-horizontal">
    <table>
        <tr>
            <td style="padding-right: 10px">@Html.ActionLink("Back", "Index", "Admin")</td>
        </tr>
    </table>
</div>