@model IEnumerable<Project_Admin_Prac.Models.Ticket>

@{
    ViewBag.Title = "TicketDisplay";
}

<h2>TicketDisplay</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Issue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resolution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Issue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resolution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.ActionLink("Reply", "TicketReply", new { id=item.Id }) 
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back", "Index")
</div>