@model IEnumerable<Project_Admin_Prac.Models.Service>

@{
    ViewBag.Title = "ServiceBookingCleaner";
}

<h2>ServiceBookingCleaner</h2>
@if (ViewBag.Status == true)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status_Cleaner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cleaner_Id)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSlot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status_Cleaner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service_Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cleaner_Id)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditServiceBookingCleaner", new { id = item.OrderId }) |
                </td>
            </tr>
        }

    </table>

}
else
{
    <div class=" alert alert-danger">
        <strong>@ViewBag.Message</strong>
    </div>

}

<div class="form-group">
    <table>
        <tr>
            <td style="padding-right: 10px">@Html.ActionLink("Back", "CleanerIndex", "Cleaner")</td>
        </tr>
    </table>
</div>

